@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply cursor-hand;
}

p,
h1,
h2,
h3,
h4,
h5,
h6, 
ul,
ol,
dl,
blockquote
code {
  @apply cursor-text;
}

.checkbox-checked {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}


@supports (animation-timeline) {
  .progress-tracker {
    animation: scroll-shadow-inset linear;
    animation-timeline: scroll( self inline );
  }

  @keyframes scroll-shadow-inset {
    from {
      box-shadow: inset -30px 0px 15px 0px theme('colors.bg');
    }

    to {
      box-shadow: inset 30px 0px 15px 0px theme('colors.bg');
    }
  }
}

@supports not (animation-timeline) {
  .progress-tracker {
    box-shadow: inset -30px 0px 15px 0px theme('colors.bg');
  }

  .progress-tracker > ul {
    @apply w-max pr-6 min-[485px]:pr-0;
  }
}
